

.items {
    width: 1400px;
    height: 87vh;
    display: inline-block;
    float: right;
    overflow: scroll;
    margin: 10px;
}


.image {
    width: 250px;
    margin-top: 2px;

}

.image:hover {
    transform: scale(0.8);
    cursor: pointer;
}

.store-background {
    background: white;
}

.log-item-container {
    width: 300px;
    height: 370px;
    border: 1px solid black;
    margin: 10px 10px;
    display: inline-block;

}

.guest-item-container {
    width: 300px;
    height: 325px;
    border: 1px solid black;
    margin: 10px 10px;
    display: inline-block;
}

.cart-btn {
    padding: 7px 20px;
    border: 2px solid black;
    margin-top: 25px;
    outline: none;
    font-size: 20px;
    font-family: futura-pt, sans-serif;
    font-style: normal; 
    font-weight: 700;
    cursor: pointer;
}

.cart-btn:hover {
    background: black;
    color: white;
}

.brand {
    font-family: acumin-pro, sans-serif;
    font-size: 30px;
    font-style: normal; 
    font-variant: normal;
    font-weight: 700;
    line-height: 22px;
    border-radius: 5px;
    margin-top: 5px;
    color: black
}

.price {
    font-family: acumin-pro, sans-serif;
    font-size: 30px;
    font-style: normal; 
    font-variant: normal;
    font-weight: 700;
    line-height: 22px;
    border-radius: 5px;
    margin-top: 5px;
    color: black;
}

.name {
    font-family: acumin-pro, sans-serif;
    font-size: 20px;
    font-style: normal; 
    line-height: 22px;
    border-radius: 5px;
    margin-top: 5px;
    color: black;
}

.load-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 84vh;
}

.store-title {
    font-family: acumin-pro, sans-serif;
    font-size: 60px;
    font-style: normal; 
    font-variant: normal;
    font-weight: 700;
    line-height: 22px;
    display: flex;
    margin: 45px;
}

.filter-box { 
    width: 150px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 15px;
    margin-left: 75px;
}

.store-body {
    display: flex;
    justify-content: center;
}

.store-filter {
    display: flex;
    flex-direction: column;
}

.filter-box {
    display: inline-block;
    justify-content: center;
    font-family: acumin-pro, sans-serif;
    font-style: normal; 
    font-variant: normal;
    font-weight: 700;
    line-height: 22px;

    .filter-text {
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-decoration: underline;
    }

    .name-container {
        font-size: 20px;
        padding: 20px;
    }

    .shoe-button {
        width: 100px;
        padding: 6px 8px;
        border-radius: 12px;
        border: 3px solid black;
        margin: 2px;
        background: black;
        color: white;
        font-family: acumin-pro, sans-serif;
        font-style: normal; 
        font-variant: normal;
        font-weight: 700;
        line-height: 22px;
        outline: none;
    }

    .shoe-button:hover {
        background: white;
        color: black; 
        cursor: pointer;
    }
}

.heart {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 250px;
    background: url("./heart.svg");

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
        background: url("./heart-filled.svg")
    }
}

.heart-filled {
    position: relative;
    background: url("./heart-filled.svg");
    transform: scale(1.1);
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 250px;
}

.no-btn {
    display: none;
}

@media(max-width: 1025px) {
    .items {
        height: 91.8vh;
    }

}

@media(max-width: 415px) {

    
    .filter-box {
        display: none;
    }

    .store-filter {
        display: none;
    }
}