

.background-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.cart-box {
    width:  900px;
    height: 400px;
    overflow: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart-text-box {
    height: 50px;
    width: 1200px;
}

.cart-item-container {
    width: 800px;
    height: 100px;
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
}

.cart-image {
    width: 100px;
    height: auto;
    border: 1px solid black;

}
.cart-image-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
}

.cart-brand {
    font-family: acumin-pro,sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 25px;
    font-variant: normal;
    line-height: 22px;
    border-radius: 5px;

    color: black
}

.cart-price {
    font-family: acumin-pro,sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 30px;
    font-variant: normal;
    line-height: 22px;
    border-radius: 5px;
    margin: 5px;
    color: black;

}

.cart-name {
    font-family: acumin-pro,sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 17px;
    font-variant: normal;
    line-height: 22px;
    border-radius: 5px;
    color: black;

}


.cart-info {
    display: flex;
    justify-content: space-between;
}

.total-price {
    margin-top: 15px;
    position: absolute;
    font-family: futura-pt, sans-serif;
    font-style: normal; 
    font-weight: 700;
    font-size: 30px;
    margin-left: 300px;
}

.item-btn {
    padding: 10px 10px;
    background: none;
    font-family: futura-pt, sans-serif;
    font-style: normal; 
    font-weight: 700;
    font-size: 20px;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
        color: grey;
    }
}

.cart-is-empty {
    margin-top: 25px;
    font-family: futura-pt, sans-serif;
    font-style: normal; 
    font-weight: 700;
    font-size: 30px;
}

.item-info {
    margin-left: 80px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}