.background-profile { 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-picture {
    background: url("./default-profile.png");
    background-size: cover;
    border-radius: 50%;
    border: 5px solid black;
    width: 300px;
    height: 300px;
    margin-top: 30px;
    
}

.username-text {
    font-family: futura-pt, sans-serif;
    font-style: normal; 
    font-weight: 700;
    font-size: 30px;
    margin: 20px;
    text-decoration: underline #9bf3ff;
    text-underline-position: under;
}

.email-text {
    font-family: futura-pt, sans-serif;
    font-style: normal; 
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: underline #9bf3ff;
    text-underline-position: under;
}

.profile-btn {
    padding: 7px 20px;
    border: 2px solid black;
    outline: none;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: futura-pt, sans-serif;
    font-style: normal; 
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background: black;
        color: white;
    }
}