.div-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: url(./contact-background.jpg);
    background-size: cover;
}

.contact-form {
    width: 800px;
    height: 620px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    border: 5px solid rgb(216, 216, 216);
}


.contact-title {
    font-family: acumin-pro, sans-serif;
    font-size: 40px;
    font-style: normal; 
    font-variant: normal;
    font-weight: 800;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: left;
    color: white;
    // display: none;
}

.contact-input {
    text-align: left;
}

.person-input {
    padding: 15px;
    width: 400px;
    border: 2px solid black;
    margin: 4px;
    outline: none;
    font-family: acumin-pro, sans-serif;
    font-size: 16px;
    font-style: normal; 
    font-variant: normal;
    font-weight: 600;
    line-height: 22px;
}

.message-box {
    text-align: left;
}

.message-input {
    border: 2px solid black;
    margin: 4px;
    width: 768px;
    height: 300px;
    resize: none;
    outline: none;
    padding: 10px;
    font-family: acumin-pro, sans-serif;
    font-size: 16px;
    font-style: normal; 
    font-variant: normal;
    font-weight: 600;
    line-height: 15px;
}


    .submit-button {
        padding: 8px 20px;
        border: 2px solid black;
        margin-top: 20px;
    
        outline: none;
        font-family: futura-pt;
        font-size: 20px;
        font-style: normal; 
        font-variant: normal;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background: black;
            color: white;
        }
    }
    
