$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #7f8ff4;

absolute-background {
    background: $background;
}

html,
body,
.container {
	height: 100%;
}

a {
    color: inherit;
    
	
	&:hover {
		color: $button-bg-color;
	}
}


.container {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    margin: 10px;
}

// .username-box {
//     margin-top: 100px;
// }



.form {	
    
    &__field {
		width: 360px;
		background: #fff;
		color: $input-text-color;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
        padding: 22px 18px;
        color: #333;
	    font: 1rem "PT Sans", sans-serif;
	}
}



.background-register {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./login-background.jpg);
    background-size: cover;
    
}

.register-box {
    width: 450px;
    height: 550px;
    background: rgb(53, 53, 53);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(216, 216, 216);
    border-radius: 10px;
}


.register-btn {

    button {
        padding: 8px 20px;
        border: 2px solid black;
        margin-top: 20px;
        margin-bottom: 8px;
        outline: none;
        font-family: futura-pt;
        font-size: 20px;
        font-style: normal; 
        font-variant: normal;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background: black;
            color: white;
        }
    }
    
}

.register-logo {
    width: 300px;
    margin-bottom: 20px;
}

.register-text {
    color: $text;
    font: 1rem "PT Sans", sans-serif;
    font-size: 20px;
}

@media(max-width: 1025px) {
    .background-register {
        height: 93vh;
    }
}


@media(max-width: 415px) {
    .register-box {
        width: 400px;
    }
}

@media(max-width: 380px) {
    .register-box {
        width: 350px;
    }
    .form {
        &__field {
          width: 320px;
        }
      }
}

@media(max-width: 325px) {

    .register-logo {
        display: none;
    }

    .register-box { 
        width: 300px;
        height: 400px;
      }
    
      .form {
        &__field {
          width: 275px;

        }
      }

      .register-text {
          font-size: 15px;
      }
}