$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #7f8ff4;

absolute-background {
  background: $background;
}

html,
body,
.container {
  height: 100%;
}

a {
  color: inherit;

  &:hover {
    color: $button-bg-color;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

// .username-box {
//     margin-top: 100px;
// }

.form {
  &__field {
    width: 360px;
    background: #fff;
    color: $input-text-color;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
    color: $text;
    font: 1rem "PT Sans", sans-serif;
  }
}

.background-login {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 500px;
  height: 500px;
  background: rgb(223, 223, 223);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.login-btn {
  button {
    padding: 8px 20px;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 8px;
    outline: none;
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-variant: normal;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background: black;
      color: white;
    }
  }
}

.login-logo {
  width: 300px;
  margin-bottom: 50px;
}

.register-text {
  color: $text;
  font: 1rem "PT Sans", sans-serif;
  font-size: 20px;
}
